body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-bottom: 2%;
}

#desc-box{
    max-width: 600px;
    padding: 20px;
    background: #fff;
    margin-left: 30px;
}

#button-container{
    display: flex;
    justify-content: center;
    margin-top:20px;
}

#questions-container{
    width: 25%;
    padding-top: 20px;
    max-height: 500px;
    height: 500px;
}

h2 {
    text-align: center;
    color: #333;
}

#submit-btn{
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

.modal-header, .modal-footer{
    border-top: none;
    border-bottom: none;
}

#main-box{
    display: flex;
    justify-content: space-between;
}