@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a{
    display: contents;
}

.navbar{
    background: #ff4200;
    font-family: Calibri, serif;
    width: 100%;
    border-bottom-style: dashed;
    height: 50px;
}

.navDiv{
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
}

.quizName{
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: white;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.loginBtn{
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.userInfoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.userName{
    font-size: 23px;
    color: azure;
}

.searchInput{
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 3px;
    font-size: 16px;
    margin-right: 5px;
}

.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtn a{
    color: #ff4200;
    font-weight: bold;
    font-size: 15px;
}

.userSearchButton{
    background-color: white;
    margin-right: 5px;
    border-radius: 4px;
    padding: 5px;
    border: none;
    outline: none;
}

.userSearchButton:hover{
    background-color: #d9d9d9;
}

.loginBtn:hover{
    background-color: #d9d9d9;
}