body {
    font-family: Arial, sans-serif;

    justify-content: center;

    min-height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(135deg, white, #ffab6e);

    margin: 0;
}

.quiz-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.question-box {
    background-color: white;
    border: 2px solid #ff4200;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}
.question-text {
    font-size: 18px;
    margin-bottom: 10px;
}
.answers {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.answer_radio {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 80%;
}
.answer_radio:hover {
    background-color: #efefef;
}

.answer_response {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.match_option {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 150px;
}
.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}




.timeOut {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    z-index: 1000;
}

.countDown {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    top: 100px;
    left: 100px;
}

.info {
    background-color: #c9d6ff;
    background: linear-gradient(to right, white, #ff4200);
    margin-top: 100px;
    margin-left: 100px;
    position: fixed;
    border: 2px solid #ff4200;
    border-radius: 10px;
    padding: 20px;
}
.dropdown-container {
    justify-content: center;
    display: flex;
    gap: 20px;
}
.dropdown {
    padding: 5px;
    border: 1px solid #ff4200;
    border-radius: 10px;
    font-size: 16px;
}

button {
    font-weight: bold;
    background-color: #1fe100;
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

button:hover{
    background-color: #18af00;
}