.timeOut {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    z-index: 1000;
}




.countDown {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}