
body {
    font-family: Arial, sans-serif;

    justify-content: center;

    min-height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(135deg, white, #ffab6e);

    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    margin-top: 50px;
}

.quizBlock {
    width: 45%;
    border: 2px solid #ff4200;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}

.questResult {
    margin: 3px;
    margin-bottom: 10px;
}

.question-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}

.rectangle {
    background-color: #e7e7e7;
    border: 2px solid #ff4200;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 300px;
    height: auto;
    padding: 5px;
}

.button {
    background-color: #1fe100;
    color: #fff;
    font-size: 12px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background-color: #18af00;
}

.buttons {
    display: flex;
    justify-content: right;

}


.container-for-table-parts {
    text-align: center;
    width: 350px;
    margin-top: 20px;
}
.container-for-table-parts h4{

}
.container-for-table-parts h6{
    color: #ff4200;
}

.table-container {
    width: 100%;
    height: 500px;
    background-color: #e7e7e7;
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
    overflow: auto; /* Enable scrolling */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

}

.label-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
    height: 25px;
}
th {
    background-color: #ff4200;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}